.colonnecontact {
    display: flex;
    // flex-wrap: row;
   
    padding: 0px 10%;
    justify-content: space-between;
    align-items: center;
   /* justify-content:space-between;*/
    
}
.icon-contact {
    i {
        font-size: 2rem; /* ou 24px, 32px, etc. */
        color: #333;
        margin-right: 10px;
        text-decoration: none;
      }
      a {
        font-size: 25px;
        color: #333;
        margin-right: 10px;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }

} 
.block-contact{
 
    padding: 60px 0px;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 90px;
    margin-top: 10px;
    align-items: center;
}  


@media (max-width: 768px) {
    
      .colonnecontact {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 5%;
      }
      .icon-contact {
        margin-bottom:20px ;
    

        i {
          display: flex;
          justify-content: center;
        }

     
      a {
        font-size: 1.2rem; /* ou 24px, 32px, etc. */
        color: #333;
        margin-right: 10px;
        text-decoration: none;
      }
    }
    }
  