/* banner_style.scss */
.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #F2F2F2;
    padding-inline: 5%;

    a{
      text-decoration: none;
    }
  }
  
  .banner-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin-right: 10px;
  }
  .banner-link:hover {
    color: aliceblue;
  }
  
  .banner-link.active {
    color: aliceblue;
    font-size: 25px;
  }
  
  .nom {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    border-radius: 40px;
    gap: 10px;
    padding: 2px 19px;
    background-color: floralwhite;
    align-items: center;
    color: black;
  }
  
  .partiedroite {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .burger {
    display: none; // caché par défaut
    font-size: 2rem;
    cursor: pointer;
  }
  .tel {
    margin-left: auto;
    display: flex;
  }
  @media (max-width: 768px) {
    .accueil-link {
      display: none;
    }
    
  
  .banner a {
      margin-right: 0;
      text-decoration: none;  
    }
  
    .partiedroite {
      margin-top: 10px;
    }
  
    .tel {
      margin-left: 0;
    }
    .banner {
     
    }
  
      .burger {
        display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center; // visible uniquement en petit écran
      }
      .banner-link:hover {
        color: black;
      }
      
      .banner-link.active {
        color: black;
        font-size: 25px;
      }
  
      .partiedroite {
        display: none;
        flex-direction: column;
        width: 100%;
        background: floralwhite;
        padding: 1rem 0px;
        border-top: 1px solid #ddd;
        border-radius: 5px;
      }
  
      .partiedroite.open {
        display: flex;
      }
    
  }
  